# do not include surrounding quotes, use \ to escape spaces

# this will always be set to settings, which correlates with the settings.py
DJANGO_SETTINGS_MODULE=brightwheel.settings

SECRET_KEY=64 bit generated key

DEBUG=True

EMAIL_PROVIDER_URL=URL from the email service provider
API_KEY=Key from the email service provider
EMAIL_PROVIDER=mailgun/sendgrid(send either of the one)
